.form-field {
  display: block;
}

.form-fieldset:not(:last-of-type) {
  margin-bottom: 20px;
}

.form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-button {
  margin-top: 20px;
}

textarea {
  width: 164px;
  height: 30.4px;
}
